<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost normal-case text-xl' do %>
        <%= image_tag 'logo.png', size: '80x20' %>
      <% end %>
    </div>
    <div class="flex-none">
      <%= link_to (t 'dafaults.login'), login_path %>
    </div>
  </div>
</header>