<header>
  <div class="navbar">
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost normal-case text-xl' do %>
        <%= image_tag 'title_logo.png', size: '140x70' %>
      <% end %>
    </div>
    <div class="flex-none m-1">
      <ul class="menu menu-horizontal p-0">
        <li class="text-gray-700">
          <%= link_to (t 'defaults.login'), login_path %>
        </li>
        <li>
          <%= link_to (t 'defaults.sign_up'), new_user_path, class: 'btn btn-info border-white text-white' %>
        </li>
    </div>
  </div>
</header>