<header>
  <div class="navbar">
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost normal-case text-xl' do %>
        <%= image_tag 'title.png', size: '130x70' %>
      <% end %>
    </div>
    <div class="flex-none m-3">
      <%= link_to (t 'dafaults.login'), login_path %>
    </div>
  </div>
</header>