<div class="post-content">
  <% posts.each do |post| %>
    <div class="post-object">
      <div class="post-image">
        <%= image_tag post.image.url %>
      </div>
      <div class="text-gray-600 text-xs sm:text-sm md:text-base">
        <%= post.title %>
      </div>
    </div>
  <% end %>
</div>
