<% set_meta_tags title: "東京、神奈川で動物とふれあえる施設一覧 | 全件", keywords: ['東京', '神奈川', '動物', 'ふれあい'].join(',') %>
<div class="mt-14 sm:mt-24 mx-6 max-auto text-center">
  <b class="text-2xl sm:text-3xl leading-relaxed sm:leading-loose">
    <h1>東京、神奈川で動物とふれあえる施設一覧（全件）</h1>
  </b>
</div>
<%= render 'index', facilities: @facilities %>
<%= bottom_navbar %>
