<% set_meta_tags title: "東京、神奈川の#{@category.name}一覧 | 動物とのふれあい", description: "ふれあえる動物を確認できます。FLUFF MAPSは動物とのふれあいに特化した検索サービスです。東京、神奈川の#{@category.name}を一覧で表示します", keywords: [@category.name, '東京', '神奈川', '動物', 'ふれあい'].join(',') %>
<div class="mt-14 sm:mt-24 mx-6 max-auto text-center">
  <b class="text-2xl sm:text-3xl leading-relaxed sm:leading-loose">
    <h1>東京、神奈川の<%= @category.name %>一覧</h1>
  </b>
</div>
<%= render 'index', facilities: @facilities %>
<%= bottom_navbar %>
