<div class="post-content">
  <% posts.each do |post| %>
    <div class="home-post-object">
      <div class="home-post-image">
        <%= image_tag post.image.url %>
      </div>
      <div class="text-blue-500 text-xs sm:text-sm md:text-base mt-1 sm:mt-2">
        <%= link_to post.facility.name, facility_path(post.facility.id) %>
      </div>
    </div>
  <% end %>
</div>