<div class="top-wrapper">
  <div class="top-title-object">
    <h1 class="top-title">FLUFF MAPS</h1>
    <h2 class="top-message">動物とふれあえる施設を検索できるサービスです</h2>
  </div>
</div>
<div class="top-wrapper-animal">
  <div>
    <%= render 'shared/search_form' %>
  </div>
</div>
<div>
  <div class="flex mx-auto justify-center align-center animal-search-form">
    <%= render 'shared/animal_search' %>
  </div>
</div>