<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>FLUFF NAVI</h1>
  </div>
  <div class="search-facility">
    <%= render 'shared/search_form' %>
  </div>
  <div>
    <%= link_to t('facilities.index.title'), facilities_path %>
  </div>
</div>
