.top-wrapper {
  background-image: image-url("top.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-title {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: rgb(228, 43, 133);

    @media screen and (max-width: 767px) {
      font-size: 4.0rem;
    }
  }

  .search-facility {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.top-wrapper-animal {
  height: calc(100vh - 700px);
  position: relative;
  background-position: center;

  .animal-search-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-facility-animal {
    position: absolute;
    top: 70%;
    left: 41%
  }

  .allow-size {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
