@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.top-wrapper {
  background-image: image-url("top.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-title {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 7rem;
    color: rgb(255, 11, 129);
    font-family: 'Itim', cursive;

    @media screen and (max-width: 767px) {
      font-size: 4.0rem;
    }
  }

  .top-desc {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    color: rgb(255, 0, 153)
  }

  .top-message {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    text-align: center;
    color: rgb(49, 49, 49);
    background-color: rgb(241, 255, 253)
  }

  .search-facility {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.top-wrapper-animal {
  height: calc(100vh - 700px);
  position: relative;
  background-position: center;

  .animal-search-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-facility-animal {
    position: absolute;
    top: 70%;
    left: 41%
  }

  .allow-size {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
