@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  background-color: rgb(236, 249, 255);
  font-family: 'Noto Sans JP', sans-serif;
  color: #303030
}

.alert-success {
  background-color: rgb(100, 240, 255) !important;
}

.select {
  display: block !important;
  width: 100%;
}

.input {
  width: 100%;
}

.top-wrapper {
  background-image: image-url("top2.jpg");
  width: 100%;
  height: 105vh;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  justify-content: center;
  padding-top: 42%;
  margin-top: -145px;
}

  .top-title-object {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }

  .top-title {
    font-family: 'Corben', cursive;
    font-size: 50px;

    @media screen and (max-width: 550px) {
      font-size: 35px;
    }
    img {
      @media screen and (max-width: 550px) {
        width: 35px;
        height: 35px
      }
    }
  }

  .top-message {
    @media screen and (max-width: 550px) {
      font-size: 20px;
    }
  }

.top-wrapper-animal {
  position: absolute;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 540px;
}

.animal-search-form {
  padding: 150px 0 10px 0;
}
